.main_news_container
    %p 
        - @articles.each do |article|
            -if article.published?
                %div{id: dom_id(article)}
                    .article_image.m-2.pl-0
                        = image_tag article.image if article.image.attached?
                    .text-sm.text-grey.pl-2.pb-2
                        = article.category.name.upcase
                    .text-3xl.font-bold.hover:underline.pl-2.pb-2
                        = link_to "#{article.title}", article_path(article), style: "text-decoration: none; color:inherit;"
                    .font-medium.pl-2.pb-2
                        .premium_tag
                            = "PREMIUM" if article.premium
                        .text-grey-darkest= article.description
                    .text-sm.text-grey.pl-2.pb-2
                        By
                        =article.journalist
                        =article.created_at.strftime("%B %d, %Y")

.api_news_container 
    %p.text-2xl.text-grey-darkest.font-bold.pl-1.pb-3.pt-1
        Outside source
        - @external_articles.each do | feed |
            .newsfeed
                .newsfeed_image.pl-2
                    %img{src: "#{feed.urlToImage}", width: "200px"}/
                .newsfeed_title.text-grey-darkest
                    = feed.title
                .newsfeed_link.font-bold.hover:underline
                    = link_to "Read the full story on #{feed.name}", feed.url, target: :_blank, style: "text-decoration: none; color:inherit; vertical-align: text-bottom"